option_settings:
  aws:elasticbeanstalk:environment:
    ServiceRole: aws-elasticbeanstalk-service-role
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
    RootVolumeSize: 8
    RootVolumeType: gp3
